<div class="tab dynamicitems" data-tab="dynamicitems" data-group="primary">
    {{#if isGM}}
        <div class="form-group">
            <label>{{localize "dynamicitems.Active"}}</label>
            <input type="checkbox" name="flags.dynamicitems.active.value" value="1" data-dtype="{{flags.dynamicitems.active.type}}" {{checked flags.dynamicitems.active.value}}/>
        </div>
        <div class="form-group">
            <label>{{localize "dynamicitems.Cursed"}}</label>
            <input type="checkbox" name="flags.dynamicitems.cursed.value" value="1" data-dtype="{{flags.dynamicitems.cursed.type}}" {{checked flags.dynamicitems.cursed.value}}/>
        </div>
    {{/if}}
            
    {{#if needsAttuned}}
    <div class="form-group">
        <label>{{localize "dynamicitems.Attuned"}}</label>
        <input type="checkbox" name="data.attuned" value="1" data-dtype="{{data.attuned.type}}" {{checked data.attuned}}/>
    </div>
    {{/if}}
    <ol class="dynamicitems-effect-list">
        <li class="flexrow effect-header">
            <div class="effect-name">{{localize "dynamicitems.EffectName"}}</div>
            <div class="effect-mode">{{localize "dynamicitems.EffectMode"}}</div>
            <div class="effect-value">{{localize "dynamicitems.EffectValue"}}</div>
            {{#if isGM}}
                <div class="effect-controls">
                <a class="effect-create" title={{localize "Create"}} data-type="effect"><i class="fas fa-plus"></i> {{ localize "dynamicitems.Add"}}</a>
                </div>
            {{/if}}
        </li>

        {{#each flags.dynamicitems.effects.value as |effect iid|}}
        <li class="flexrow effect" effect-id="{{effect.id}}">
            <span class="effect-name">{{localize effect.label}}</span>
            <span class="effect-mode">{{effect.mode}}</span>
            <span class="effect-value">{{effect.value}}</span>
        {{#if ../isGM}}
            <div class="effect-controls">
                <a class="effect-edit" title={{localize "dynamicitems.Edit"}}><i class="fas fa-edit"></i></a>
                <a class="effect-delete" title={{localize "dynamicitems.Delete"}}><i class="fas fa-trash"></i></a>
            </div>
        {{/if}}
        </li>
        {{/each}}
    </ol>
</div>