<form autocomplete="off">
    <div class="form-group effectType">
        <label>{{localize "dynamicitems.EffectName"}}</label>
        <select name="modSpec" data-dtype="String">
            {{#select spec.effect}}
                <option value=""></option>
                {{#each effects as |name val|}}
                    <option value="{{val}}">{{name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>

    <div class="form-group">
        <label>{{localize "dynamicitems.EffectMode"}}</label>
        <select name="mode" data-dtype="String">
            {{#select mode}}
                {{#each modes as |val name|}}
                    <option value="{{val}}">{{name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    {{#if isLanguage}}
        <div class="form-group">
            <label>{{localize "dynamicitems.EffectValue"}}</label>
            <select name="value" data-dtype="String">
                {{#select spec.value}}
                <option value=""></option>
                {{#each languages as |name val|}}
                    <option value="{{val}}">{{name}}</option>
                {{/each}}
            {{/select}}
            </select>
        </div>
    {{else if isDamage}}
        <div class="form-group">
            <label>{{localize "dynamicitems.EffectValue"}}</label>
            <select name="value" data-dtype="String">
                {{#select spec.value}}
                <option value=""></option>
                {{#each damages as |name val|}}
                    <option value="{{val}}">{{name}}</option>
                {{/each}}
            {{/select}}
            </select>
        </div>
    {{else if isCondition}}
        <div class="form-group">
            <label>{{localize "dynamicitems.EffectValue"}}</label>
            <select name="value" data-dtype="String">
                {{#select spec.value}}
                <option value=""></option>
                {{#each conditions as |name val|}}
                    <option value="{{val}}">{{name}}</option>
                {{/each}}
            {{/select}}
            </select>
        </div>
    {{else if isProficiency}}
        <div class="form-group">
            <label>{{localize "dynamicitems.EffectValue"}}</label>
            <select name="value" data-dtype="String">
                {{#select spec.value}}
                <option value=""></option>
                {{#each proficiencies as |name val|}}
                    <option value="{{val}}">{{name}}</option>
                {{/each}}
            {{/select}}
            </select>
        </div>
    {{else if isToolProf}}
        <div class="form-group">
            <label>{{localize "dynamicitems.EffectValue"}}</label>
            <select name="value" data-dtype="String">
                {{#select spec.value}}
                <option value=""></option>
                {{#each toolProfs as |name val|}}
                    <option value="{{val}}">{{name}}</option>
                {{/each}}
            {{/select}}
            </select>
        </div>
    {{else}}
        <div class="form-group">
            <label>{{localize "dynamicitems.EffectValue"}}</label>
            <input type="text" name="value" value="{{spec.value}}" data-dtype="String"/>
        </div>
    {{/if}}
                            
    {{spec.effect}}
    {{spec.mode}}
    {{spec.value}}
    <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{localize "dynamicitems.UpdateEffect"}}</button>
</form>